@model IEnumerable<Apartment>;

@{
    ViewData["Title"] = "Rreth Nesh";
}


<div class="container">
    <div class="col">
        <div class="row">
            <h2>Na jena filon kompania qe bojna filon senin etj etj</h2>

            <h5>Totali i apartmenteve te regjistruara deri tani: @Model.Count()</h5>
        </div>
    </div>
</div>