
@model AptOnly.ViewModels.CreateApartment

@{
    ViewData["Title"] = "Create";
}

<div class="container text-center mb-5 mt-2">
    <h2>Krijo nje Apartment</h2>
</div>

<!--

          "AddressId,StreetName1,StreetName2,VillageName, " +
            "StatusId, Description, IsNew, ReleaseDate" +
            "ApartmentId, Floor, Bedroom, BathRoom, PricePerMonth, IsFurbished, M2, PricePerM2, Image, Address, Status, IdentityUser" +
            "CityId, CityName")]
-->
<div class="container">
    <form asp-action="Edit" class="form-box" enctype="multipart/form-data">
        <div class="row">
            <div class="col">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Apartment.ApartmentId" />
                <h4>Adresa</h4>
                <div class="form-group">
                    <label asp-for="Address.StreetName1" class="control-label">Emri i Rruges 1*</label>
                    <input asp-for="Address.StreetName1" class="form-control" />
                    <span asp-validation-for="Address.StreetName1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address.StreetName2" class="control-label">Adresa</label>
                    <input asp-for="Address.StreetName2" class="form-control" />
                    <span asp-validation-for="Address.StreetName1" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CityId" class="control-label">Qyteti</label>

                    <select asp-for="CityId" class="form-control">
                        @foreach (var c in Model.Cities)
                        {
                            <option value=@c.CityId>@c.CityName</option>
                        }
                    </select>
                </div>

                <input asp-for="CityId" type="hidden" name="name" value="" />
                <div class="form-group">
                    <label asp-for="Address.VillageName" class="control-label">Fshati</label>
                    <input asp-for="Address.VillageName" class="form-control" />
                    <span asp-validation-for="Address.VillageName" class="text-danger"></span>
                </div>
            </div>
            <div class="col border-left">
                <h4>Statusi i Baneses</h4>
                <div class="form-group">
                    <label asp-for="Status.Description" class="control-label">Pershkrimi *</label>
                    <textarea asp-for="Status.Description" class="form-control"></textarea>
                    <span asp-validation-for="Status.Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input asp-for="Status.IsNew" class="form-check-input" type="checkbox" />
                    <label asp-for="Status.IsNew" class="control-label">E re?</label>
                    <span asp-validation-for="Status.IsNew" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status.ReleaseDate" class="control-label">Lansimi*</label>
                    <input asp-for="Status.ReleaseDate" class="form-control" type="date" placeholder="mm-dd-yyyy" />
                    <span asp-validation-for="Status.ReleaseDate" class="text-danger"></span>
                </div>

            </div>

        </div>
        <hr />
        <div class="row">
            <h3>Te dhenat e baneses</h3>
        </div>

        <div class="row">
            <div class="col-6 border-right">
                <div class="form-group">
                    <label asp-for="Apartment.Floor" class="control-label">Kati</label>
                    <select asp-for="Apartment.Floor" class="form-control">
                        @for (var i = 1; i < 30; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="Apartment.Bedroom" class="control-label">Dhoma</label>
                    <select asp-for="Apartment.Bedroom" class="form-control">
                        @for (var i = 1; i < 10; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Apartment.BathRoom" class="control-label">Banjo</label>
                    <select asp-for="Apartment.BathRoom" class="form-control">
                        @for (var i = 1; i < 10; i++)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Apartment.M2" class="control-label">Metra Katror</label>
                    <input asp-for="Apartment.M2" type="text" class="form-control" />
                    <span asp-validation-for="Apartment.M2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apartment.PricePerMonth" class="control-label">Cmimi per muaj (Euro)</label>
                    <input asp-for="Apartment.PricePerMonth" type="text" class="form-control" />
                    <span asp-validation-for="Apartment.PricePerM2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apartment.PricePerM2" class="control-label">Cmimi per meter katror (Euro)</label>
                    <input asp-for="Apartment.PricePerM2" type="text" class="form-control" />
                    <span asp-validation-for="Apartment.PricePerM2" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input asp-for="Apartment.IsFurbished" class="form-check-input" type="checkbox" />
                    <label asp-for="Apartment.IsFurbished" class="control-label">A eshte e mobiluar?</label>
                    <span asp-validation-for="Apartment.IsFurbished" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group form-check">
                    <input type="radio" required asp-for="Apartment.IsRenting" id="RentingYes" value="true" checked />
                    <label for="RentingYes" class="control-label">E leshoj me qera</label>
                    <span asp-validation-for="Apartment.IsRenting" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input type="radio" required asp-for="Apartment.IsRenting" id="RentingYes" value="false" />
                    <label for="RentingYes" class="control-label">E shes</label>
                    <span asp-validation-for="Apartment.IsRenting" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="row border-top">
            <div class="col bg-light">
                <div class="form-group">
                    <label class="control-label">Image</label>
                    <input class="form-control" type="file" name="imageFile" />
                    <input type="hidden" asp-for="Apartment.Image"/>  
                </div>
            </div>
            <hr />
        </div>
        <div class="row clearfix">
            <hr />
            <div class="col-3 mt-5">
                <div class="form-group">
                    <input type="submit" value="Edito" class="form-control btn btn-warning" />
                    <a asp-action="Index" class="btn btn-dark m-5">Kthehu mbrapa</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

